<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<title>使用 jQuery AJAX 使用 RESTful Web 服務</title>
<script type="text/javascript">
$(document).ready(function() {
    $("button").click(function() {
       var productmodel = {
          id : "3",
          name : "Ginger"
       };
       var requestJSON = JSON.stringify(productmodel);
       $.ajax({
          type : "POST",
          url : "http://localhost:8080/products",
          headers : {
             "Content-Type" : "application/json"
          },
          data : requestJSON,
          success : function(data) {
             alert(data);
          },
          error : function(data) {
          }
       });
    });
 });
</script>
</head>
<body>
	<button>Click here to submit the form</button>
</body>
</html>